<!DOCTYPE html>
<html lang="en" >
<head  data-th-replace="~{fragments/header :: headerFragment}">
  <meta charset="UTF-8">
  <title>Thymeleaf Springboot </title>
</head>
<body>
<nav  data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<main>
  <div class="col-12 col-sm-12 col-md-12 mt-4">

<h1 class="errorcode">ERROR 403</h1>
<div class="errortext">This area is forbidden. <a href="/home" >Click Here To Turn Back Now!</a > </div>

  </div>
</main>
<!--footer include-->
<div  data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div  data-th-replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>