<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<main >
  <div class="col-12 col-sm-12 col-md-12 mt-4" >
    <!--<div class="container-fluid" data-th-if="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)} != null"-->
    <!--     data-th-with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}" >-->
    <!--  <div class="container text-center" >-->
    <!--    <h1 data-th-text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>-->
    <!--  </div >-->
    <!--</div >-->

    <div class="container-fluid mt-4 text-center" >
      <p class="invalid-feedback" data-th-text="${errorMessage}" >Error java.lang.NullPointerException</p >
    </div >
    <div class="container-fluid text-center" >
      <a href="/home" >
        <button class="btn btn-info" type="submit" >
          <i class="fa fa-home" style="font-size: 20px" ></i >&nbsp; Home
        </button >
      </a >
    </div >
  </div >
</main >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >
</html >
